services:
  api:
    build: .
    ports:
      - "3030:3030"
    environment:
      - NODE_ENV=production
      - DB_URL=mongodb://mongo:27017/palpoll
  mongo:
    image: mongo:6
    container_name: palpoll-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: